<h1>personal_data#view_index_page</h1>

<h2>Oi, Tanise ! Oi, Victor ! Eu sou a view do personal_data index: index personal_data#view_index_page !!!</h2>

<p>Find me in app/views/personal_data/index.html.erb</p>
