// Specific CSS for your home-page
.texto {
    
    h1 {
        color: #31708F;
    } 

    p {
        text-align: justify;
        color: #777777;
    }

    p1 {
        font-size: 20px;
        color:#5BC0DE;
    }

}   