
<div class="container">
    <div class="row">
        <div class="col-md-6 p-5 texto">
            <h1>Small Towns - LPGD</h1>
            <p1>Controle seus dados!</p1>
            <br>
            <br>
            <small><p>Descubra se os tratamentos dos seus dados pessoais estão de acordo com as regras da LGPD. Solicite informações sobre a finalidade, a duração e a forma de tratamento dos seus dados pessoais. Verifique se seus dados pessoais sensíveis estão ou foram compartilhados com outros agentes, sem o seu consentimento.</p></small>
            <br>
            <small><p>Em breve, disponível também em Android e iOS.</p></small>
            <small><p>*App estará disponível nos 26 estados e no Distrito Federal. Mais novidades estão por vir.</p></small>
            <br>
            <%= link_to "Cadastre-se",  new_user_registration_path, class: "btn btn-outline-secondary" %>
        </div>

        <div class="col-md-6 p-5">
        <%= image_tag "home.png", class: "img-fluid" %>
        </div>

    </div>
</div>

