
<div class="container">
    <div class="row">
        <div class="col-md-6 p-5 texto">
            <h1>Small Towns</h1>
            <p1>Controle seus dados!</p1>
            <br>
            <br>
            <small><p>Participe, opine e discuta sobre questões inerentes a atividades políticas governamentais. Exerça a cidadania e consolide a ideia de uma gestão democrática de tudo o que é público, por meio da maior interação entre governo e sociedade. Relate e fortaleça o engajamento nas questões políticas locais e nacionais, por meio de apoio às emendas que são importantes para você, sua comunidade, sua cidade, seu estado e para o Brasil.</p></small>
            <br>
            <small><p>Em breve, disponível também em Android e iOS.</p></small>
            <small><p>*App estará disponível nos 26 estados e no Distrito Federal. Mais novidades estão por vir.</p></small>
            <br>
            <%= link_to "Cadastre-se",  new_user_registration_path, class: "btn btn-outline-secondary" %>
        </div>

        <div class="col-md-6 p-5">
        <%= image_tag "home.png", class: "img-fluid" %>
        </div>

    </div>
</div>    

