<div class="container">
    
    <div class="card primary mt-4 ml-3 text-primary border border-primary">
        <div class="ml-4 mt-3 mr-3">
        <h5>Dados Disponíveis</h5>
        </div>


        <div class="my-3 p-3 bg-white">
            <h6 class="card-header border-gray pb-2 mb-0">Dados Pessoais</h6>
            <div class="media text-muted pt-3 ml-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Nome: Victor Cannavale</strong>
            </p>
            </div>

            <div class="media text-muted pt-3 ml-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Email: victorcannavale@gmail.com</strong>
            </p>
            </div>

            <div class="media text-muted pt-3 ml-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">CPF: 123219557-08</strong>
            </p>
            </div>

        </div>    

        <div class="my-3 p-3 bg-white">
            <h6 class="card-header border-gray pb-2 mb-0">IPTU</h6>
            <div class="media text-muted pt-3 ml-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Solicitação</strong>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
            </div>

            <div class="media text-muted pt-3 ml-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Justificativa</strong>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
            </div>

            <div class="media text-muted pt-3 ml-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Dados</strong>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
            </div>

            <small class="d-block text-right mt-3">
            <a href="#">Imprimir</a>
            </small>

    </div>
    
</div>        