
.personal-data-cards {

}


.personal-data-card {
  background-size: cover;
  background-position: center;
  background-color: yellow;
  height: 520px;
  width: 80%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  color: red;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  border-color: black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

// .cards {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-gap: 16px;
// }

/* //#teste{
  background-size: cover;
  background-position: center;
  background-color: #F4F4F4;
  height: 200px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  text-align: left;
  color:#6c757d;
  //font-size: 6px;
  //font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  //box-shadow: 0 0 5px rgba(0,0,0,0.9);
  padding: 20px;

}  */
/* 
.teste{
  background-size: cover;
  background-position: center;
  background-color: #F4F4F4;
  height: 400px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  text-align: left;
  color:#6c757d;
  margin-top: 23px;
  //font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  //box-shadow: 0 0 5px rgba(0,0,0,0.9);
  padding: 30px;
  margin-left: 30px;

}  */

.container-fluid {
  width: 400px;
}

.card-fluid1 {
  width: 70%;
}

.card-fluid2 {
  width: 30%;
}




// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
