.text {
    
    h1 {
        font-weight: bold;
        color: #5BC0DE;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
    } 

    p {
        text-align: justify;
        color: #777777;
    }
 
}    